.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2; /* Optional: Card background color */
    padding: 10px;
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
  }

.pokeImg {
    text-align: center;
}

.pokeName {
    text-align: center;
}